{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Projects' %}{% endblock title %}

{% block content %}



<h2 class="mt-5">{% trans 'My projects' %}</h2>
<div class="row">
  {% for project in project_list %}
  {% if project.user.email == user.email %}
  <div class="col-lg-4 col-md-6">
    <div class="d-flex align-items-stretch">
      <div class="card rounded">
        {% if project.image %}
        <img class="card-img-top" src="{{ project.image.url }}">
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{ project.title }}</h5>
          <p class="card-text">{{ project.description|striptags|truncatechars:200|safe }}</p>
          
          <a href="{% url 'project_update' project.id %}" class="btn btn-primary">{% trans 'Edit' %}</a>
          <a href="{% url 'project_delete' project.id %}" class="btn btn-danger">{% trans 'Delete' %}</a>      

        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

<br>
<a href="{% url 'project_create' %}" class="btn btn-success">{% trans 'Create a new Project' %}</a>


{% comment %} Try this with hoverlens (instead of hovereffect)
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <div class="hovereffect">
      <img class="img-responsive" src="http://placehold.it/350x250" alt="">
          <div class="overlay">
              <h2>Effect 14</h2>
      <p>
        <a href="#">LINK HERE</a>
      </p>
          </div>
  </div>
</div>
{% endcomment %}


{% endblock content %}
