{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
<!-- TODO: Add a link to the password_reset view from LogIn-view. Test. https://django-allauth.readthedocs.io/en/latest/views.html#password-reset-account-reset-password  -->

{% block title %}{% trans 'Log in' %}{% endblock title %}

{% block content %} 
<h2>{% trans 'Log in' %}</h2>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button class="btn btn-success" type="submit">{% trans 'Log in' %}</button>
</form>
<br>
<a href="{% url 'account_reset_password' %}">{% trans 'Forgot your password?' %}</a>
{% endblock content %}