{% extends "_base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Bytt Passord" %}{% endblock %}

{% block content %}
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Bytt Passord" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Koblingen for tilbakestilling av passord var ugyldig, muligens fordi den allerede har blitt brukt. Du kan i stedet be om en <a href="{{ passwd_reset_url }}">ny kobling for tilbakestilling av passord</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'Bytt passord' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Ditt passord har nå blitt endret.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
