{% extends "_base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Tilbakestill ditt passord" %}{% endblock %}

{% block content %}

    <h1>{% trans "Tilbakestill ditt passord" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Glemt passord? Skriv inn e-postadressen din nedenfor, så sender vi deg en e-post slik at du kan tilbakestille den." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="{% trans 'Tilbakestill mitt passord' %}" />
    </form>

    <p>{% blocktrans %}Kontakt oss hvis du har problemer med å tilbakestille passordet ditt.{% endblocktrans %}</p>
{% endblock %}
