### Python ###
.pytest_cache/
*.pyc


### Django ###
*.log
*.pot
__pycache__/
local_settings.py
db.sqlite3
/staticfiles/
/media/

### IDEs ###
.idea/
.vscode/
.history


### Secret keys ###
prosjekttorg.env