{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'About' %}{% endblock title %}

{% block content %} 
<h1>{% trans 'About' %}</h1>
<p>{% trans 'Here are the rules, guidelines and recommendations for how to use this page correctly.' %}</p>
<h2>{% trans 'What, why and how' %}</h2>
<p>{% trans 'Science in silos may not be a bad thing. In fact, it might even be exactly what you need sometimes. However, being aware of what projects people are pursuing out there is almost always a good thing.' %}</p>
<p>{% trans '...this and some sort of statement of principles.' %}</p>
{% endblock content %}